.input {
  margin-top: 5px;
  border: 1px solid #2D2E2F;
  border-radius: 5px;
}

textarea {
  box-shadow: 0px -1px 3px 0px #2D2E2F !important;
  background: #1b1c1d !important;
  color: #fff !important;
}

.chat {
  box-shadow: 0px -1px 3px 0px #2D2E2F;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-box {
  word-break: break-all;
}

.container {
  margin-top: 5px;
}

body {
  background-color: #1B1C1D;
}

.dimmer {
  background: none !important;
}

.friend-accept {
  background-color: #2ecc71 !important;
}

.icon.input {
  border: none !important;
}

.flat-green {
  webkit-box-shadow: 0 1px 3px 0 #555, 0 2px 0 0 #2ecc71, 0 0 0 1px #555 !important;
  box-shadow: 0 1px 3px 0 #555, 0 2px 0 0 #2ecc71, 0 0 0 1px #555 !important;
}

.autocomplete-input {
  background-color: #1B1C1D !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  outline: none !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16) !important;
  color: white !important;
}

.autocomplete[data-loading=true]:after {
  border: 3px solid rgba(0, 0, 0, 0.12) !important;
  border-right-color: white !important;
}

.autocomplete-result-list {
  background: #1B1C1D !important;
  color: white !important;
}

